@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;0,900;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  overflow: hidden;  /* Prevent scrolling on body */
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.msg{
  resize:none;
  padding:10px 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  display: flex;
  height: calc(100vh - 50px - 20px);  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent overflow in the main container */
  gap:5px;
}
